/* Coded by Jeremaquai */

/* Global styles */
body {
    background-image: url(../images/scott-webb-UjupleczBOY-unsplash.jpg);
    font-family: 'Grenze Gotisch', cursive;
    font-size: 20px;
}

#spacer {
    min-height: 50px;
}

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid black;
    width: 100%;
    background-color: lightgray;
    max-height: 50px;
}

.copyright-container {
    margin-top: auto;
    margin-bottom: auto;
}

/* Font Styles */

h1 {
    font-size: 3.5rem;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

/* Nav */

.nav {
    background-color: lightgrey;
    border-bottom: 2px solid black;
    padding: .5rem;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

#menu-list li {
    /*margin-bottom: .5rem;*/
    padding: .5rem;
}

#menu-list a {
    text-decoration: none;
    color: black;
    
}

/* Menu Buttons */

.menu-button {
    border: 1px solid black;
    width: 25px;
    text-align: center;
    background-color: darkgray;
}

.menu-button:hover {
    cursor: pointer;
}

.fa-bars {
    padding: 3px;
}

/* Header */
h1 {
    text-align: center;
    padding: 3rem;
}
/* Lists */

#menu-list,
.projects-list,
#personal-projects,
#codecademy-projects {
    list-style: none;
}

.projects-list h3:hover,
.projects-list h4:hover {
    cursor: pointer;
}


/* About Me Section */

.about-me {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    padding: 2rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.about-text {
    text-align: center;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
}


.about-photo {
    width: 40%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.about-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

/* Skills section */

.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 30px;
}

/* Contact Me section */
.contact-me {
    margin: 2rem;
    padding: 1rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.links-container {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

/* Projects Page */

.projects-container {
    border-top: 2px solid black;
}

#jt-page-info,
#html-cheat-info,
#teacozy-info,
#excursion-info,
#colmar-info,
#eightball-info,
#mindcraft-info,
#design-system-info,
#serpents-info,
#mjf-info,
#portfolio-v1-info,
#number-guesser-info,
#card-checker-info,
#organism-info {
    width: 90%;
}

#jt-page-info img,
#html-cheat-info img,
#teacozy-info img,
#excursion-info img,
#colmar-info img,
#eightball-info img,
#mindcraft-info img,
#design-system-info img,
#serpents-info img,
#mjf-info img,
#portfolio-v1-info img,
#number-guesser-info img,
#card-checker-info img,
#organism-info img {
    max-width: 100%;
    height: auto;
}

/* Projects Page Buttons */

.buttons-container {
    display: flex;
    justify-content: space-around;
}

.button1 {
    border: 2px solid black;
    border-radius: 5%;
    background-color: darkgray;
    padding: .5rem;
    text-decoration: none;
    text-align: center;
    color: black;
}

/* Responsive to Cell Phones */

@media only screen and (max-width: 600px) {
    .about-me {
        flex-direction: column;
    }

    .about-text {
        width: auto;
    }

    .about-photo {
        width: auto;
    }

    .buttons-container {
        flex-direction: column;
    }

    .button1 {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 3rem;
        font-weight: 900;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }
}